<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @town.name %>
</p>
<p>
  <strong>Current weather :</strong>
  <% if @town.weathername != nil %>
    <%= @town.weathername %>
  <% end %>
</p>
<p>
  <strong>Current temperature:</strong>
  <% if @town.weatherTemperature != nil %>
    <%= '%.2f' % @town.weatherTemperature %> &deg;C
  <% end %>
</p>
<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
